%head
  %title
    Ax Agenda
  %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf8'}
  = haml :'html/html5'
  / Style sheets.
  %link{:rel => 'stylesheet', :type => 'text/css', :href => url('js/extjs/resources/css/ext-all.css')}
  %link{:rel => 'stylesheet', :type => 'text/css', :href => url('js/extensible/resources/css/extensible-all.css')}
  %link{:rel => 'stylesheet', :type => 'text/css', :href => url('css/app.css')}
  / <x-compile>
  / <x-bootstrap>
  %script{:type => 'text/javascript', :src => url('js/extjs/ext-all.js')}
  / </x-bootstrap>    
  -# %script{:type => 'text/javascript', :src => 'js/bootstrap.js'}
  %script{:type => 'text/javascript', :src => url('js/extensible/src/Extensible.js')}
  -# %script{:type => 'text/javascript', :src => url('js/extensible/lib/extensible-all-debug.js')}

  %script{:type => 'text/javascript', :src => url('js/extjs/locale/ext-lang-fr.js') }
  %script{:type => 'text/javascript', :src => url('js/extensible/locale/extensible-lang-fr.js') }
  
  %script{:type => 'text/javascript', :src => url('js/app/app.js') }
  / </x-compile>      


